html, body {
	margin:0;
  overflow:hidden;
  background:#000;
  color:white;
  font-family:Arial;
}

.message{
  padding:20px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:black;
  cursor:pointer;
  font-size:14px;
  border:1px solid white;
}

#badge{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 92px;
}

#audioControls {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

#audioControls button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: black; /* 背景颜色 */
  padding: 10px;     /* 内边距 */
  border: 1px solid white;
  font-size: 14px;   /* 字体大小 */
  color: white;      /* 字体颜色 */
  z-index: 1000;     /* z-index确保它在页面上其他元素之上 */
  cursor: pointer;
}
#info-box {
  position: fixed;   /* 固定定位，相对于视口 */
  left: 10px;        /* 距离屏幕左边10像素 */
  bottom: 10px;      /* 距离屏幕底部10像素 */
  background-color: black; /* 背景颜色 */
  padding: 10px;     /* 内边距 */
  border: 1px solid white;
  font-size: 14px;   /* 字体大小 */
  color: white;      /* 字体颜色 */
  z-index: 1000;     /* z-index确保它在页面上其他元素之上 */
}
a:link, a:hover, a:visited, a:active{
  color:white;
  text-decoration: none;
}
.experiment-url{
  position:absolute;
  bottom:10px;
  right:10px;
  padding:8px;
  z-index: 1;
  font-size: 11px;
  background:black;
  letter-spacing:0.5px;
  border: 1px solid white;
}